<div id="gallery">
  <div class="galItem">
    <div class="galItemsAvatar">
      <div>
        <img
          id=""
          src="assets/items/HEAD/head_35.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div>
        <img
          id=""
          src="assets/items/HAND_R/hand_right_35.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/BODY/body_35.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/HAND_L/hand_left_35.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div>
        <img
          id=""
          src="assets/items/FEET_R/feet_right_35.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/FEET_L/feet_left_35.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
    </div>
    <p>Autre Utilisateur</p>
  </div>
  <div class="galItem">
    <div class="galItemsAvatar">
      <div>
        <img
          id=""
          src="assets/items/HEAD/head_41.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div>
        <img
          id=""
          src="assets/items/HAND_R/hand_right_41.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/BODY/body_41.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/HAND_L/hand_left_41.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div>
        <img
          id=""
          src="assets/items/FEET_R/feet_right_41.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/FEET_L/feet_left_41.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
    </div>
    <p>Inconnu</p>
  </div>
  <div class="galItem">
    <div class="galItemsAvatar">
      <div>
        <img
          id=""
          src="assets/items/HEAD/head_12.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div>
        <img
          id=""
          src="assets/items/HAND_R/hand_right_12.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/BODY/body_12.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/HAND_L/hand_left_12.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div>
        <img
          id=""
          src="assets/items/FEET_R/feet_right_12.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/FEET_L/feet_left_12.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
    </div>
    <p>Nom Utilisateur</p>
  </div>
  <div class="galItem">
    <div class="galItemsAvatar">
      <div>
        <img
          id=""
          src="assets/items/HEAD/head_24.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div>
        <img
          id=""
          src="assets/items/HAND_R/hand_right_24.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/BODY/body_24.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/HAND_L/hand_left_24.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div>
        <img
          id=""
          src="assets/items/FEET_R/feet_right_24.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id=""
          src="assets/items/FEET_L/feet_left_24.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
    </div>
    <p>Spartacus</p>
  </div>
</div>
