<div id="regis">
  <fieldset>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <h1>Créer un compte</h1>

      <div class="form-group">
        <label for="Nom">Nom:</label>
        <input
          type="text"
          id="Nom"
          class="form-control"
          formControlName="nomCtrl"
        />
      </div>

      <div class="form-group">
        <label for="Prenom">Prenom:</label>
        <input
          type="text"
          id="Prenom"
          class="form-control"
          formControlName="prenomCtrl"
        />
      </div>

      <div class="form-group">
        <label for="Mail">Mail:</label>
        <input
          type="text"
          id="Mail"
          class="form-control"
          formControlName="mailCtrl"
        />
      </div>

      <div class="form-group">
        <label for="login">Login :</label>
        <input id="login" class="form-control" formControlName="loginCtrl" />
        <div
          *ngIf="form.get('loginCtrl')?.hasError('notUnique')"
          class="form_alert"
        >
          *login deja utilisé
        </div>
      </div>
      <ng-container formGroupName="passwordGroup">
        <div class="form-group">
          <label for="password">Mot de passe : </label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="passwordCtrl"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              form.get('passwordGroup.passwordCtrl')?.dirty &&
              form.get('passwordGroup.passwordCtrl')?.invalid
            "
            class="form_alert"
          >
            mot de passe invalide
          </div>
        </div>
        <div class="form-group">
          <label for="confirmation">Resaisir le mot de passe : </label>
          <input
            type="password"
            id="confirmation"
            class="form-control"
            formControlName="confirmCtrl"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              form.get('passwordGroup')?.dirty &&
              form.get('passwordGroup')?.invalid
            "
            class="form_alert"
          >
            ne correspond pas au mot de passe
          </div>
        </div>
      </ng-container>
      <div class="form-group">
        <button type="submit" class="erase" [disabled]="form.invalid">
          Créer un compte
        </button>
        <a routerLink="/home" routerLinkActive="active" class="erase"
          >Annuler</a
        >
        <a routerLink="/auth" routerLinkActive="active">S'authentifier</a>
      </div>
    </form>
  </fieldset>
</div>

<div id="regis">
  <h1>Créer un compte</h1>
  <form>
    <table>
      <tr>
        <td><label for="regisFirstName">Nom :</label></td>
        <td>
          <input
            type="text"
            id="regisFirstName"
            autocomplete="off"
            placeholder="DOE"
          />
        </td>
      </tr>
      <tr>
        <td><label for="regisLastName">Prénom :</label></td>
        <td>
          <input
            type="text"
            id="regisLastName"
            autocomplete="off"
            placeholder="John"
          />
        </td>
      </tr>
      <tr>
        <td><label for="regisMailFirst">Mail :</label></td>
        <td>
          <input
            type="text"
            id="regisMailFirst"
            autocomplete="off"
            placeholder="john.doe@gmail.com"
          />
        </td>
      </tr>
      <tr>
        <td><label for="regisMailSec">Confirmez votre mail :</label></td>
        <td>
          <input
            type="text"
            id="regisMailSec"
            autocomplete="off"
            placeholder="john.doe@gmail.com"
          />
        </td>
      </tr>
      <tr>
        <td><label for="regisUsername">Pseudo :</label></td>
        <td>
          <input
            type="text"
            id="regisUsername"
            autocomplete="off"
            placeholder="TheDestructor"
          />
        </td>
      </tr>
      <tr>
        <td><label for="regisPasswordFirst">Mot de passe :</label></td>
        <td>
          <input
            type="password"
            id="regisPasswordFirst"
            autocomplete="off"
            placeholder="•••••••••••••••"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="regisPasswordSec">Confirmez le mot de passe :</label>
        </td>
        <td>
          <input
            type="password"
            id="regisPasswordSec"
            autocomplete="off"
            placeholder="•••••••••••••••"
          />
        </td>
      </tr>
    </table>
    <!--<div class="form-group">
      <button type="submit">Créer un compte</button>
      <a routerLink="/auth" routerLinkActive="active">S'authentifier</a>
    </div>-->
  </form>
</div>
