#regis {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#regis form {
  width: 500px;
  height: 450px;
  border: solid 1px var(--col-line);
  padding: var(--dist-2);
  border-radius: 10px;
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#regis form h1 {
  width: 100%;
  font-family: var(--font-titles);
  font-size: 1.5em;
  padding: 0;
  margin: 0 0.5em;
  margin-bottom: 0.75em;
  padding-bottom: 0.25em;
  border-bottom: solid 1px var(--col-line);
  text-align: center;
}
#regis form label {
  font-size: 0.8em;
  margin-right: 0.5em;
}
#regis form input {
  border: none;
  background-color: var(--col-line);
  padding: 0.5em 1em;
}
form button {
  border: solid 1px var(--col-text-hover-red);
  padding: 0.5em 0.75em;
  background-color: var(--col-text-hover-red);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 1.5em;
  margin: 1em;
  font-family: inherit;
  font-size: 0.7em;
  color: white;
}
form button:hover {
  background-color: var(--col-text-hover-redbis);
}
#regis form a {
  font-size: 0.7em;
  color: inherit;
  text-decoration: none;
  color: rgba(150, 150, 150, 1);
}
#regis form a:hover {
  text-decoration: underline;
}
a[class="erase"] {
  border: solid 1px var(--col-line);
  padding: 0.5em 0.75em;
  background-color: var(--col-line);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 1.5em;
  margin: 1em;
  font-family: inherit;
  font-size: 0.7em;
  color: inherit;
}
a[class="erase"]:hover {
  background-color: var(--col-text-sec);
  border: solid 1px var(--col-text-sec);
}
.form-group {
  width: auto;
}
.form-group label {
  display: inline-block;
  width: 180px !important;
}
.form_alert {
  border: solid 1px var(--col-text-hover-red);
  background-color: rgba(239, 84, 102, 0.1);
  color: var(--col-text-hover-red);
  font-family: inherit;
  font-size: 0.7em;
  padding: 0.25em;
  border-radius: 10px;
  margin: 0.5em 0;
}
fieldset {
  border: none;
  padding: 0;
}
