<div id="inventory">
  <div id="invTop">
    <div class="invTopBtns">
      <h2>Avatars</h2>
    </div>
    <div id="invContentAvatar">
      <div id="invContentAvatarLeft">
        <div class="invContentAvatar">
          <img
            id="invContentAvatarHead"
            src="assets/items/HEAD/head_16.png"
            alt=""
            title=""
            ondrag="false"
            ondragstart="return false"
          />
        </div>
        <div class="incVontentAvatar">
          <img
            id="invContentAvatarHandRight"
            src="assets/items/HAND_R/hand_right_16.png"
            alt=""
            title=""
            ondrag="false"
            ondragstart="return false"
          />
          <img
            id="invContentAvatarBody"
            src="assets/items/BODY/body_16.png"
            alt=""
            title=""
            ondrag="false"
            ondragstart="return false"
          />
          <img
            id="invContentAvatarHandLeft"
            src="assets/items/HAND_L/hand_left_16.png"
            alt=""
            title=""
            ondrag="false"
            ondragstart="return false"
          />
        </div>
        <div class="incVontentAvatar">
          <img
            id="invContentAvatarFeetRight"
            src="assets/items/FEET_R/feet_right_16.png"
            alt=""
            title=""
            ondrag="false"
            ondragstart="return false"
          />
          <img
            id="invContentAvatarHandLeft"
            src="assets/items/FEET_L/feet_left_16.png"
            alt=""
            title=""
            ondrag="false"
            ondragstart="return false"
          />
        </div>
      </div>
      <div id="invContentAvatarRight"></div>
    </div>
  </div>

  <div id="invBottom">
    <div class="invTopBtns">
      <h2>Items</h2>
      <button type="button" onclick="craftAccordion('head')">Tête</button>
      <button type="button" onclick="craftAccordion('body')">Corps</button>
      <button type="button" onclick="craftAccordion('handRight')">
        Main droite
      </button>
      <button type="button" onclick="craftAccordion('handLeft')">
        Main gauche
      </button>
      <button type="button" onclick="craftAccordion('feetRight')">
        Jambe droite
      </button>
      <button type="button" onclick="craftAccordion('feetLeft')">
        Jambe gauche
      </button>
    </div>
    <div class="invBotItems" id="invBotItemsHead" style="display: flex">
      <div class="invItem" *ngFor="let i of userItemsNoCraftList">
        <div *ngIf="i.membre === 'H'">
          <p>{{ i.nom }}</p>
          <img
            [src]="imgPath + i.image"
            alt=""
            draggable="false"
            ondragstart="return false"
          />
          <button onclick="" class="erase">vendre</button>
        </div>
      </div>
    </div>
    <div class="invBotItems" id="invBotItemsHandRight">
      <div class="invItem" *ngFor="let i of userItemsNoCraftList">
        <div *ngIf="i.membre === 'RH'">
          <p>{{ i.nom }}</p>
          <img
            [src]="imgPath + i.image"
            alt=""
            draggable="false"
            ondragstart="return false"
          />
          <button onclick="" class="erase">vendre</button>
        </div>
      </div>
    </div>
    <div class="invBotItems" id="invBotItemsBody">
      <div class="invItem" *ngFor="let i of userItemsNoCraftList">
        <div *ngIf="i.membre === 'B'">
          <p>{{ i.nom }}</p>
          <img
            [src]="imgPath + i.image"
            alt=""
            draggable="false"
            ondragstart="return false"
          />
          <button onclick="" class="erase">vendre</button>
        </div>
      </div>
    </div>
    <div class="invBotItems" id="invBotItemsHandLeft">
      <div class="invItem" *ngFor="let i of userItemsNoCraftList">
        <div *ngIf="i.membre === 'LH'">
          <p>{{ i.nom }}</p>
          <img
            [src]="imgPath + i.image"
            alt=""
            draggable="false"
            ondragstart="return false"
          />
          <button onclick="" class="erase">vendre</button>
        </div>
      </div>
    </div>
    <div class="invBotItems" id="invBotItemsFeetRight">
      <div class="invItem" *ngFor="let i of userItemsNoCraftList">
        <div *ngIf="i.membre === 'RL'">
          <p>{{ i.nom }}</p>
          <img
            [src]="imgPath + i.image"
            alt=""
            draggable="false"
            ondragstart="return false"
          />
          <button onclick="" class="erase">vendre</button>
        </div>
      </div>
    </div>
    <div class="invBotItems" id="invBotItemsFeetLeft">
      <div class="invItem" *ngFor="let i of userItemsNoCraftList">
        <div *ngIf="i.membre === 'LL'">
          <p>{{ i.nom }}</p>
          <img
            [src]="imgPath + i.image"
            alt=""
            draggable="false"
            ondragstart="return false"
          />
          <button onclick="" class="erase">vendre</button>
        </div>
      </div>
    </div>
  </div>
</div>
