<div id="inventory">
  <div id="invTop">
    <div class="invTopBtns">
      <h2>Avatars</h2>
    </div>
    <div id="invContentAvatar">
      <div id="invAvatar" *ngIf="userAvatarsListsItems?.length">
        <div class="invItem" *ngFor="let i of userAvatarsListsItems">
          <div class="invItemsAvatar">
            <div>
              <img
                id=""
                [src]="imgPath + i.compose![1].image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.compose![1].rarity == 'R',
                  itemEpic: i.compose![1].rarity == 'E',
                  itemLegendary: i.compose![1].rarity == 'L'
                }"
              />
            </div>
            <div>
              <img
                id=""
                [src]="imgPath + i.compose![4].image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.compose![4].rarity == 'R',
                  itemEpic: i.compose![4].rarity == 'E',
                  itemLegendary: i.compose![4].rarity == 'L'
                }"
              />
              <img
                id=""
                [src]="imgPath + i.compose![0].image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.compose![0].rarity == 'R',
                  itemEpic: i.compose![0].rarity == 'E',
                  itemLegendary: i.compose![0].rarity == 'L'
                }"
              />
              <img
                id=""
                [src]="imgPath + i.compose![2].image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.compose![2].rarity == 'R',
                  itemEpic: i.compose![2].rarity == 'E',
                  itemLegendary: i.compose![2].rarity == 'L'
                }"
              />
            </div>
            <div>
              <img
                id=""
                [src]="imgPath + i.compose![5].image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.compose![5].rarity == 'R',
                  itemEpic: i.compose![5].rarity == 'E',
                  itemLegendary: i.compose![5].rarity == 'L'
                }"
              />
              <img
                id=""
                [src]="imgPath + i.compose![3].image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.compose![3].rarity == 'R',
                  itemEpic: i.compose![3].rarity == 'E',
                  itemLegendary: i.compose![3].rarity == 'L'
                }"
              />
            </div>
          </div>
          <p>{{ i.nom }}</p>
          <button type="button">Vendre</button>
        </div>
      </div>
    </div>
  </div>

  <div id="invBottom">
    <div class="invTopBtns">
      <h2>Items</h2>
      <button
        type="button"
        onclick="invtAccordion('head')"
        id="invBotItemsHeadBtn"
        class="invItemBotBtn active"
      >
        Tête
      </button>
      <button
        type="button"
        onclick="invtAccordion('body')"
        id="invBotItemsBodyBtn"
        class="invItemBotBtn"
      >
        Corps
      </button>
      <button
        type="button"
        onclick="invtAccordion('handRight')"
        id="invBotItemsHandRightBtn"
        class="invItemBotBtn"
      >
        Main droite
      </button>
      <button
        type="button"
        onclick="invtAccordion('handLeft')"
        id="invBotItemsHandLeftBtn"
        class="invItemBotBtn"
      >
        Main gauche
      </button>
      <button
        type="button"
        onclick="invtAccordion('feetRight')"
        id="invBotItemsFeetRightBtn"
        class="invItemBotBtn"
      >
        Jambe droite
      </button>
      <button
        type="button"
        onclick="invtAccordion('feetLeft')"
        id="invBotItemsFeetLefttBtn"
        class="invItemBotBtn"
      >
        Jambe gauche
      </button>
    </div>
    <div id="invBotContent">
      <div class="invBotItemsBot" id="invBotItemsHead" style="display: flex">
        <div class="invItemBot" *ngFor="let i of userItemsNoCraftList">
          <div *ngIf="i.membre === 'H'">
            <p>{{ i.nom }}</p>
            <img
              [src]="imgPath + i.image + imgSufix"
              alt=""
              draggable="false"
              ondragstart="return false"
              [ngClass]="{
                itemRare: i.rarity == 'R',
                itemEpic: i.rarity == 'E',
                itemLegendary: i.rarity == 'L'
              }"
            />
            <button
              onclick="inventorySold('on')"
              (click)="inventoryId(i.id!)"
              class="erase"
            >
              vendre
            </button>
          </div>
        </div>
      </div>
      <div class="invBotItemsBot" id="invBotItemsHandRight">
        <div class="invItemBot" *ngFor="let i of userItemsNoCraftList">
          <div *ngIf="i.membre === 'RH'">
            <p>{{ i.nom }}</p>
            <img
              [src]="imgPath + i.image + imgSufix"
              alt=""
              draggable="false"
              ondragstart="return false"
              [ngClass]="{
                itemRare: i.rarity == 'R',
                itemEpic: i.rarity == 'E',
                itemLegendary: i.rarity == 'L'
              }"
            />
            <button
              onclick="inventorySold('on')"
              (click)="inventoryId(i.id!)"
              class="erase"
            >
              vendre
            </button>
          </div>
        </div>
      </div>
      <div class="invBotItemsBot" id="invBotItemsBody">
        <div class="invItemBot" *ngFor="let i of userItemsNoCraftList">
          <div *ngIf="i.membre === 'B'">
            <p>{{ i.nom }}</p>
            <img
              [src]="imgPath + i.image + imgSufix"
              alt=""
              draggable="false"
              ondragstart="return false"
              [ngClass]="{
                itemRare: i.rarity == 'R',
                itemEpic: i.rarity == 'E',
                itemLegendary: i.rarity == 'L'
              }"
            />
            <button
              onclick="inventorySold('on')"
              (click)="inventoryId(i.id!)"
              class="erase"
            >
              vendre
            </button>
          </div>
        </div>
      </div>
      <div class="invBotItemsBot" id="invBotItemsHandLeft">
        <div class="invItemBot" *ngFor="let i of userItemsNoCraftList">
          <div *ngIf="i.membre === 'LH'">
            <p>{{ i.nom }}</p>
            <img
              [src]="imgPath + i.image + imgSufix"
              alt=""
              draggable="false"
              ondragstart="return false"
              [ngClass]="{
                itemRare: i.rarity == 'R',
                itemEpic: i.rarity == 'E',
                itemLegendary: i.rarity == 'L'
              }"
            />
            <button
              onclick="inventorySold('on')"
              (click)="inventoryId(i.id!)"
              class="erase"
            >
              vendre
            </button>
          </div>
        </div>
      </div>
      <div class="invBotItemsBot" id="invBotItemsFeetRight">
        <div class="invItemBot" *ngFor="let i of userItemsNoCraftList">
          <div *ngIf="i.membre === 'RL'">
            <p>{{ i.nom }}</p>
            <img
              [src]="imgPath + i.image + imgSufix"
              alt=""
              draggable="false"
              ondragstart="return false"
              [ngClass]="{
                itemRare: i.rarity == 'R',
                itemEpic: i.rarity == 'E',
                itemLegendary: i.rarity == 'L'
              }"
            />
            <button
              onclick="inventorySold('on')"
              (click)="inventoryId(i.id!)"
              class="erase"
            >
              vendre
            </button>
          </div>
        </div>
      </div>
      <div class="invBotItemsBot" id="invBotItemsFeetLeft">
        <div class="invItemBot" *ngFor="let i of userItemsNoCraftList">
          <div *ngIf="i.membre === 'LL'">
            <p>{{ i.nom }}</p>
            <img
              [src]="imgPath + i.image + imgSufix"
              alt=""
              draggable="false"
              ondragstart="return false"
              [ngClass]="{
                itemRare: i.rarity == 'R',
                itemEpic: i.rarity == 'E',
                itemLegendary: i.rarity == 'L'
              }"
            />
            <button
              onclick="inventorySold('on')"
              (click)="inventoryId(i.id!)"
              class="erase"
            >
              vendre
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="invSoldItem">
    <form>
      <label
        >Prix de vente :
        <input
          name="sellItem"
          type="number"
          min="0.1"
          step="0.1"
          autocomplete="off"
          value="100.00"
          id="PriceItemInput"
          [(ngModel)]="this.item.prix"
      /></label>
    </form>
    <button (click)="inventorySend()">Send</button>
    <button onclick="inventorySold('off')">x</button>
  </div>
</div>
