<div id="inventory">
  <div id="invLeft">
    <div class="invTopBtns">
      <button type="button">Tête</button>
      <button type="button">Corps</button>
      <button type="button">Main droite</button>
      <button type="button">Main gauche</button>
      <button type="button">Corps</button>
      <button type="button">Jame droite</button>
      <button type="button">Jambe gauche</button>
    </div>
    <div class="invBotItems"></div>
    <div class="invContent" id="invContentItems"></div>
  </div>

  <div id="invRight">
    <div class="invTopBtns">
      <button type="button">Avatar</button>
      <button type="button">Avatars</button>
    </div>
    <div class="invContent" id="invContentAvatar">
      <div class="invContentAvatar">
        <img
          id="invContentAvatarHead"
          src="assets/items/HEAD/head_16.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div class="incVontentAvatar">
        <img
          id="invContentAvatarHandRight"
          src="assets/items/HAND_R/hand_right_16.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id="invContentAvatarBody"
          src="assets/items/BODY/body_16.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id="invContentAvatarHandLeft"
          src="assets/items/HAND_L/hand_left_16.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
      <div class="incVontentAvatar">
        <img
          id="invContentAvatarFeetRight"
          src="assets/items/FEET_R/feet_right_16.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
        <img
          id="invContentAvatarHandLeft"
          src="assets/items/FEET_L/feet_left_16.png"
          alt=""
          title=""
          ondrag="false"
          ondragstart="return false"
        />
      </div>
    </div>
  </div>
</div>
