#inventory {
  width: 100%;
  height: auto;
  min-height: calc(100vh - var(--height-nav-top));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-family: var(--font-main);
  overflow-x: hidden;
  overflow-y: auto;
}
/* -------------------------------------------- COMMON -------------------------------------------- */
.invTopBtns {
  width: 100%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  background-color: var(--col-line);
  border-bottom: solid 1px var(--col-line);
  font-family: var(--font-titles);
  font-weight: bold;
}
.invTopBtns button {
  height: 100%;
  width: auto;
  border: none;
  border-radius: 0;
  border-bottom: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1em;
}
.invTopBtns button:hover,
.invTopBtns button[class~="active"] {
  color: var(--col-text-hover-red);
}
.invTopBtns h2 {
  height: 0.75em;
  margin: 0;
  padding: 0 1em 0 0.25em;
  font-size: 1.25em;
  margin: 0.25em 1em;
  border-right: solid 1px var(--col-line-dark);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* -------------------------------------------- BOTTOM -------------------------------------------- */
#invBottom,
#invTop {
  width: calc(100vw - var(--width-nav));
  height: auto;
  padding: var(--dist-1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.invBotItems {
  width: 100%;
  height: auto;
  min-height: calc(120px - var(--dist-2));
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.25em;
  border: solid 1px var(--col-line);
  border-top: none;
}
#invAvatar {
  width: calc(100vw - var(--width-nav));
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.invItem {
  width: calc(80px + 60px + 60px + var(--dist-2));
  height: calc(80px + 80px + 80px + var(--dist-2) + 40px + 20px);
  border-radius: 10px;
  border: solid 1px var(--col-line);
  overflow: hidden;
  border-radius: 10px;
  padding: 0;
  margin: var(--dist-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.invItem:hover {
  background-color: var(--col-line-hover);
  border: solid 1px var(--col-line-dark);
}
.invItemsAvatar {
  width: 100%;
  height: calc(80px + 80px + 80px + var(--dist-2));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.invItemsAvatar div {
  width: 100%;
  height: calc(80px + 80px + 80px + var(--dist-2));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.invItemsAvatar div img[class~="itemRare"] {
  background-image: radial-gradient(var(--rarity-rare) 0.2%, transparent 70%);
}
.invItemsAvatar div img[class~="itemEpic"] {
  background-image: radial-gradient(var(--rarity-epic) 0.2%, transparent 70%);
}
.invItemsAvatar div img[class~="itemLegendary"] {
  background-image: radial-gradient(var(--rarity-legend) 0.2%, transparent 70%);
}
.invItemsAvatar[class~="selable"] {
  background-color: var(--col-bckg-note);
}
.invItemsAvatar img {
  width: 60px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px transparent;
}
.invItemsAvatar div:first-child img,
.invItemsAvatar div:nth-child(2) img:nth-child(2) {
  width: 80px;
}
.invItem button {
  border: none;
  background-color: none;
  font-size: 13px;
  font-family: inherit;
  cursor: pointer;
  color: rgba(150, 150, 150, 1);
  background-color: transparent;
}
.invItem p {
  font-size: 15px;
  height: auto;
  min-height: 20px;
  max-height: 40px;
  border: none;
  padding: 0 0.25em;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.invItem button:hover {
  text-decoration: underline;
}

/* -------------------------------------------- TOP -------------------------------------------- */
#invContentAvatar,
#invAvatar {
  width: 100%;
  height: auto;
  min-height: 340px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border: solid 1px var(--col-line);
  border-top: none;
}
#invAvatar {
  border: none;
}
#invContentAvatar {
  padding-top: 0.25em;
}
#invSoldItem {
  display: none;
}
#invBotContent {
  width: 100%;
  height: auto;
  min-height: 175px;
  border: solid 1px var(--col-line);
  border-top: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.invBotItemsBot {
  width: auto;
  height: auto;
  /*border: solid 1px var(--col-line);*/
  border-top: none;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.invItemBot div {
  width: calc(80px + var(--dist-3));
  height: calc(80px + 40px + 15px + var(--dist-2));
  margin: var(--dist-1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border: solid 1px var(--col-line);
  border-radius: 10px;
}
.invItemBot div p {
  font-size: 15px;
  height: auto;
  min-height: 20px;
  max-height: 40px;
  border: none;
  padding: 0.25em 0.25em;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.invItemBot div img {
  width: auto;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px transparent;
}
.invItemBot div button {
  border: none;
  background-color: none;
  font-size: 13px;
  font-family: inherit;
  cursor: pointer;
  color: rgba(150, 150, 150, 1);
  background-color: transparent;
}
.invItemBot div button:hover {
  text-decoration: underline;
}
