#navTopLogo {
  width: 300px;
  height: 150px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#navTopLogo img {
  width: 100%;
  height: auto;
}
#navTopContent {
  width: calc(100% - 300px);
  height: auto;
  /*background-color: lightsteelblue;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#navTopContent .navTopItem:first-child {
  width: 400px;
  /*background-color: darksalmon;*/
}
#navTopContent button[class~="navTopItem"]:last-child {
  margin-right: 2em;
}
.navTopItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navTopItem h1 {
  font-family: var(--font-titles);
}
.navTopItem img {
  width: 50px;
  height: 50px;
}
.navTopItem p {
  padding-left: 0.25em;
  font-family: var(--font-titles);
  font-weight: bold;
}
button[class~="navTopItem"] {
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
