<div id="navTopLogo">
  <img
    src="assets/imgs/logo.png"
    title=""
    alt="logo"
    draggable="false"
    ondragstart="return false"
  />
</div>
<div id="navTopContent">
  <div class="navTopItem">
    <h1>{{ userLogin() }}</h1>
  </div>
  <!--<div class="navTopItem">
    <i class="fa-solid fa-star"></i>
    <p>4,5</p>
  </div>-->
  <div class="navTopItem">
    <i class="fa-solid fa-list-ol"></i>
    <p>13</p>
  </div>
  <div class="navTopItem">
    <i class="fa-solid fa-sack-dollar"></i>
    <p>19</p>
  </div>
  <button class="navTopItem btn">
    <i class="fa-solid fa-bell"></i>
  </button>
  <a
    class="navTopItem btn"
    [routerLink]="['/settings']"
    routerLinkActive="active"
    draggable="false"
    ondragstart="return false"
  >
    <i class="fa-solid fa-user-gear"></i>
  </a>
  <button (click)="logout()" class="navTopItem btn">
    <i class="fa-solid fa-right-from-bracket"></i>
  </button>
</div>
