#navTopContent {
  width: calc(100% - 300px);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
/* -------------------------------------------- IMAGE -------------------------------------------- */
#navTopLogo {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#navTopLogo img {
  width: 100%;
  height: auto;
}
/* -------------------------------------------- NAME -------------------------------------------- */
#navTopContent .navTopItem:first-child {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navTopItem h1 {
  font-family: var(--font-titles);
}
/* -------------------------------------------- ITEMS -------------------------------------------- */
#navTopContent *[class~="navTopItem"]:last-child {
  margin-right: 2em;
}
.navTopItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.navTopItem * {
  text-decoration: inherit;
  color: inherit;
  size: inherit;
  padding: 0;
  margin: 0;
}
.navTopItem i {
  margin-bottom: 0.25em;
}
.navTopItem p {
  before: "-";
  font-size: 0.6em;
  font-family: var(--font-main);
  color: var(--col-text-sec);
}
.navTopItem p:before {
  content: "- ";
}
.navTopItem p:after {
  content: " -";
}
.navTopItem + .btn {
  width: 2em;
  height: 2em;
  font-size: 1em;
  transition: 0.4s;
  border-radius: 50%;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.navTopItem + .btn:hover {
  background-color: var(--col-line);
}
