<div id="market">
  <div id="marUsersItems">
    <div class="marTitles">
      <h2>Marché</h2>
      <button
        type="button"
        id="marContentBotHeadBtn"
        class="marContentBotBtn active"
        onclick="marketAccordion('bot','head')"
      >
        Tête
      </button>
      <button
        type="button"
        id="marContentBotBodyBtn"
        class="marContentBotBtn"
        onclick="marketAccordion('bot','body')"
      >
        Corps
      </button>
      <button
        type="button"
        id="marContentBotHandRightBtn"
        class="marContentBotBtn"
        onclick="marketAccordion('bot','handRight')"
      >
        Main droite
      </button>
      <button
        type="button"
        id="marContentBotHandLeftBtn"
        class="marContentBotBtn"
        onclick="marketAccordion('bot','handLeft')"
      >
        Main gauche
      </button>
      <button
        type="button"
        id="marContentBotFeetRightBtn"
        class="marContentBotBtn"
        onclick="marketAccordion('bot','feetRight')"
      >
        Jambe droite
      </button>
      <button
        type="button"
        id="marContentBotFeetLeftBtn"
        class="marContentBotBtn"
        onclick="marketAccordion('bot','feetLeft')"
      >
        Jambe gauche
      </button>
      <!--<button
        type="button"
        id="marContentBotAvatarBtn"
        class="marContentBotBtn"
        onclick="marketAccordion('bot','avatars')"
      >
        Avatars
      </button>-->
    </div>
    <div
      class="marContentBot"
      id="marContentBotHead"
      style="display: flex"
      *ngIf="marketItemsList.length"
    >
      <div class="marItem" *ngFor="let i of marketItemsList">
        <div *ngIf="i.membre === 'H'">
          <p>{{ i.nom }}s</p>
          <!--<p class="player">{{ searchByUserId(i.id!)!.utilisateur!.login }}</p>-->
          <img
            class="itemLegendary"
            alt=""
            title=""
            [src]="imgPath + i.image + imgSufix"
            ondrag="false"
            ondragstart="return false"
            [ngClass]="{
              itemRare: i.rarity == 'R',
              itemEpic: i.rarity == 'E',
              itemLegendary: i.rarity == 'L'
            }"
          />
          <button
            (click)="addItemToBuy(i, searchByUserId(i.id!))"
            onclick="marketBuyItem('on')"
          >
            Acheter ({{ i.prix }})
          </button>
        </div>
      </div>
    </div>
    <div
      class="marContentBot"
      id="marContentBotBody"
      *ngIf="marketItemsList.length"
    >
      <div class="marItem" *ngFor="let i of marketItemsList">
        <div *ngIf="i.membre === 'B'">
          <p>{{ i.nom }}s</p>
          <p class="player">{{ searchByUserId(i.id!)!.utilisateur!.login }}</p>
          <img
            class="itemLegendary"
            alt=""
            title=""
            [src]="imgPath + i.image + imgSufix"
            ondrag="false"
            ondragstart="return false"
            [ngClass]="{
              itemRare: i.rarity == 'R',
              itemEpic: i.rarity == 'E',
              itemLegendary: i.rarity == 'L'
            }"
          />
          <button
            (click)="addItemToBuy(i, searchByUserId(i.id!))"
            onclick="marketBuyItem('on')"
          >
            Acheter
          </button>
        </div>
      </div>
    </div>
    <div
      class="marContentBot"
      id="marContentBotHandRight"
      *ngIf="marketItemsList.length"
    >
      <div class="marItem" *ngFor="let i of marketItemsList">
        <div *ngIf="i.membre === 'RH'">
          <p>{{ i.nom }}s</p>
          <p class="player">{{ searchByUserId(i.id!)!.utilisateur!.login }}</p>
          <img
            class="itemLegendary"
            alt=""
            title=""
            [src]="imgPath + i.image + imgSufix"
            ondrag="false"
            ondragstart="return false"
            [ngClass]="{
              itemRare: i.rarity == 'R',
              itemEpic: i.rarity == 'E',
              itemLegendary: i.rarity == 'L'
            }"
          />
          <button
            (click)="addItemToBuy(i, searchByUserId(i.id!))"
            onclick="marketBuyItem('on')"
          >
            Acheter
          </button>
        </div>
      </div>
    </div>
    <div
      class="marContentBot"
      id="marContentBotHandLeft"
      *ngIf="marketItemsList.length"
    >
      <div class="marItem" *ngFor="let i of marketItemsList">
        <div *ngIf="i.membre === 'LH'">
          <p>{{ i.nom }}s</p>
          <p class="player">{{ searchByUserId(i.id!)!.utilisateur!.login }}</p>
          <img
            class="itemLegendary"
            alt=""
            title=""
            [src]="imgPath + i.image + imgSufix"
            ondrag="false"
            ondragstart="return false"
            [ngClass]="{
              itemRare: i.rarity == 'R',
              itemEpic: i.rarity == 'E',
              itemLegendary: i.rarity == 'L'
            }"
          />
          <button
            (click)="addItemToBuy(i, searchByUserId(i.id!))"
            onclick="marketBuyItem('on')"
          >
            Acheter
          </button>
        </div>
      </div>
    </div>
    <div
      class="marContentBot"
      id="marContentBotFeetRight"
      *ngIf="marketItemsList.length"
    >
      <div class="marItem" *ngFor="let i of marketItemsList">
        <div *ngIf="i.membre === 'RL'">
          <p>{{ i.nom }}s</p>
          <p class="player">{{ searchByUserId(i.id!)!.utilisateur!.login }}</p>
          <img
            class="itemLegendary"
            alt=""
            title=""
            [src]="imgPath + i.image + imgSufix"
            ondrag="false"
            ondragstart="return false"
            [ngClass]="{
              itemRare: i.rarity == 'R',
              itemEpic: i.rarity == 'E',
              itemLegendary: i.rarity == 'L'
            }"
          />
          <button
            (click)="addItemToBuy(i, searchByUserId(i.id!))"
            onclick="marketBuyItem('on')"
          >
            Acheter
          </button>
        </div>
      </div>
    </div>
    <div
      class="marContentBot"
      id="marContentBotFeetLeft"
      *ngIf="marketItemsList.length"
    >
      <div class="marItem" *ngFor="let i of marketItemsList">
        <div *ngIf="i.membre === 'LL'">
          <p>{{ i.nom }}s</p>
          <p class="player">{{ searchByUserId(i.id!)!.utilisateur!.login }}</p>
          <img
            class="itemLegendary"
            alt=""
            title=""
            [src]="imgPath + i.image + imgSufix"
            ondrag="false"
            ondragstart="return false"
            [ngClass]="{
              itemRare: i.rarity == 'R',
              itemEpic: i.rarity == 'E',
              itemLegendary: i.rarity == 'L'
            }"
          />
          <button
            (click)="addItemToBuy(i, searchByUserId(i.id!))"
            onclick="marketBuyItem('on')"
          >
            Acheter
          </button>
        </div>
      </div>
    </div>
    <div
      class="marContentBot"
      id="marContentBotAvatar"
      *ngIf="marketItemsList.length"
    ></div>
  </div>

  <div id="marBuyPopup">
    <h1>Êtes vous sûr de cet achat ?</h1>
    <p>Prochain solde : <b>###</b></p>
    <div>
      <button type="button" onclick="marketBuyItem('off')" class="submit">
        Oui
      </button>
      <button
        type="button"
        (click)="eraseItemToBuy()"
        onclick="marketBuyItem('off')"
        class="erase"
      >
        Non
      </button>
    </div>
  </div>
</div>
