<nav>
  <a
    [routerLink]="['/inventory']"
    routerLinkActive="active"
    draggable="false"
    ondragstart="return false"
    >Inventaire</a
  >
  <a
    [routerLink]="['/craft']"
    routerLinkActive="active"
    draggable="false"
    ondragstart="return false"
    >Craft</a
  >
  <a
    [routerLink]="['/market']"
    routerLinkActive="active"
    draggable="false"
    ondragstart="return false"
    >Marché</a
  >
  <a
    [routerLink]="['/gallery']"
    routerLinkActive="active"
    draggable="false"
    ondragstart="return false"
    >Galerie</a
  >
  <a
    [routerLink]="['/games']"
    routerLinkActive="active"
    draggable="false"
    ondragstart="return false"
    >Jeux</a
  >
</nav>
