#craft {
  position: relative;
  top: 0;
  width: 100%;
  height: calc(100vh - var(--height-nav-top));
  /*background-color: lightcoral;*/
  font-family: var(--font-main);
}
#craftContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.craftLine {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
}
.craftLine img {
  width: 60px;
  height: 80px;
  border: solid 1px white;
  cursor: pointer;
  transition: 0.3s;
}
.craftLine img:hover {
  background-color: rgba(44, 44, 44, 0.3);
}
.craftLine:first-child img,
.craftLine:nth-child(2) img:nth-child(2) {
  width: 80px;
}
#note {
  margin: 1em;
  padding: 1em;
  background-color: var(--col-bckg-note);
  border: solid 1px var(--col-bckg-note-border);
  border-radius: 10px;
}
#note i {
  color: var(--col-bckg-note-i);
  margin-right: 0.5em;
}
/* -------------------------------------------- COMMON -------------------------------------------- */
button[class="submit"] {
  display: inline;
  border: solid 1px var(--col-text-hover-red);
  padding: 0.5em 0.75em;
  background-color: var(--col-text-hover-red);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 1.5em;
  margin: 1em;
  font-family: inherit;
  font-size: 0.7em;
  color: white;
}
button[class="submit"]:hover {
  background-color: var(--col-text-hover-redbis);
}
button[class="erase"] {
  border: solid 1px var(--col-line);
  padding: 0.5em 0.75em;
  background-color: var(--col-line);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 1.5em;
  margin: 1em;
  font-family: inherit;
  font-size: 0.7em;
  color: inherit;
}
button[class="erase"]:hover {
  background-color: var(--col-text-sec);
  border: solid 1px var(--col-text-sec);
}
/* -------------------------------------------- CRAFT CONFIRMATION -------------------------------------------- */
#craftConfirm {
  position: absolute;
  top: calc(calc(100vh - var(--height-nav-top)) / 2 - 75px);
  left: calc(calc(100vw - var(--width-nav)) / 2 - 150px);
  width: 300px;
  height: 150px;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: solid 1px var(--col-line);
  border-radius: 10px;
  padding: var(--dist-2);
}
#craftConfirm h1 {
  width: 100%;
  font-size: 1.25em;
  border-bottom: solid 1px var(--col-line);
  text-align: center;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
}
#craftConfirm div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------------- CRAFT ITEM SELECT -------------------------------------------- */
#craftItemSelect {
  position: absolute;
  top: calc(calc(100vh - var(--height-nav-top)) / 2 - 250px);
  left: calc(calc(100vw - var(--width-nav)) / 2 - 250px);
  width: 500px;
  height: 500px;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 1px var(--col-line);
  border-radius: 10px;
  padding: var(--dist-2);
}
.crafItems {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#craftItemSelectClose {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  transition: 0.2s;
  color: var(--col-text-hover-red);
  cursor: pointer;
  padding: 0.5em;
}
#craftItemSelectClose:hover {
  color: var(--col-text-hover-redbis);
}
#craftItemsSelectContent,
#craftItemSelectMainContent {
  width: 100%;
  height: 100%;
}
.ctc1,
.ctc2 {
  width: auto;
  height: auto;
}
#craftItemSelect h1 {
  width: 100%;
  font-size: 1.25em;
  border-bottom: solid 1px var(--col-line);
  text-align: center;
  padding-bottom: 0.25em;
  margin: 0;
  margin-bottom: 0.5em;
}
#craftItemSelect img {
  cursor: pointer;
  height: 80px;
}
#craftItemSelect img[class~="itemRare"] {
  background-image: radial-gradient(green 0.2%, transparent 70%);
}
#craftItemSelect img[class~="itemEpic"] {
  background-image: radial-gradient(purple 0.2%, transparent 70%);
}
#craftItemSelect img[class~="itemLegendary"] {
  background-image: radial-gradient(gold 0.2%, transparent 70%);
}
