<div id="craft" onload="randomAvatarNameProp()">
  <p id="note">
    <i class="fa-solid fa-lightbulb"></i>
    Pour crafter un nouvel <b>Avatar</b>, sélectionnez les 6 composants qui vous
    souhaitez, puis cliquez sur le bouton <b>Craft</b>.
  </p>
  <div id="craftContent">
    <div class="craftLine">
      <img
        id="craftAvatarHead"
        [src]="
          this.newAvatarItemsImage[0]
            ? this.newAvatarItemsImage[0]
            : 'assets/items/empty.png'
        "
        alt=""
        title=""
        ondrag="false"
        ondragstart="return false"
        onclick="craftItemSelect('head')"
      />
    </div>
    <div class="craftLine">
      <img
        id="craftAvatarHandRight"
        [src]="
          this.newAvatarItemsImage[1]
            ? this.newAvatarItemsImage[1]
            : 'assets/items/empty.png'
        "
        alt=""
        title=""
        ondrag="false"
        ondragstart="return false"
        onclick="craftItemSelect('hand_right')"
      />
      <img
        id="craftAvatarBody"
        [src]="
          this.newAvatarItemsImage[2]
            ? this.newAvatarItemsImage[2]
            : 'assets/items/empty.png'
        "
        alt=""
        title=""
        ondrag="false"
        ondragstart="return false"
        onclick="craftItemSelect('body')"
      />
      <img
        id="craftAvatarHandLeft"
        [src]="
          this.newAvatarItemsImage[3]
            ? this.newAvatarItemsImage[3]
            : 'assets/items/empty.png'
        "
        alt=""
        title=""
        ondrag="false"
        ondragstart="return false"
        onclick="craftItemSelect('hand_left')"
      />
    </div>
    <div class="craftLine">
      <img
        id="craftAvatarFeetRight"
        [src]="
          this.newAvatarItemsImage[4]
            ? this.newAvatarItemsImage[4]
            : 'assets/items/empty.png'
        "
        alt=""
        title=""
        ondrag="false"
        ondragstart="return false"
        onclick="craftItemSelect('feet_right')"
      />
      <img
        id="craftAvatarFeetLeft"
        [src]="
          this.newAvatarItemsImage[5]
            ? this.newAvatarItemsImage[5]
            : 'assets/items/empty.png'
        "
        alt=""
        title=""
        ondrag="false"
        ondragstart="return false"
        onclick="craftItemSelect('feet_left')"
      />
    </div>
    <div>
      <form (submit)="craftNewAvatarNameInput()">
        <label
          >Nom de l'avatar :
          <input
            [(ngModel)]="newAvatarName"
            type="text"
            autocomplete="off"
            placeholder="test"
            id="craftAvatarNameInput"
            name="newAvatarNameBtn"
        /></label>
      </form>
    </div>
    <div>
      <button onclick="craftOverlay('on')" class="submit">Crafter !</button>
      <button onclick="craftErase()" class="erase">Annuler</button>
    </div>
  </div>
  <div id="craftConfirm">
    <h1>Êtes-vous sûr ?</h1>
    <div>
      <button
        onclick="craftOverlay('off')"
        (click)="craftNewAvatar()"
        class="submit"
      >
        Oui
      </button>
      <button onclick="craftOverlay('off')" class="erase">Non</button>
    </div>
  </div>
  <div id="craftItemSelect">
    <div id="craftItemSelectMainContent">
      <button onclick="craftItemSelect()" id="craftItemSelectClose">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <h1>Choix d'un item</h1>
      <div id="craftItemsSelectContent">
        <div id="crafItemsHead" class="crafItems">
          <div clas="ctc1" *ngFor="let i of userItemsNoCraftList">
            <div class="ctc2" *ngIf="i.membre == 'H'">
              <img
                [src]="imgPath + i.image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.rarity == 'R',
                  itemEpic: i.rarity == 'E',
                  itemLegendary: i.rarity == 'L'
                }"
                id="craftNewAvatarHead"
                (click)="craftAddSelectedImg(i, 0)"
                onclick="craftItemSelect()"
              />
            </div>
          </div>
        </div>
        <div id="crafItemsHandRight" class="crafItems">
          <div clas="ctc1" *ngFor="let i of userItemsNoCraftList">
            <div class="ctc2" *ngIf="i.membre == 'RH'">
              <img
                [src]="imgPath + i.image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.rarity == 'R',
                  itemEpic: i.rarity == 'E',
                  itemLegendary: i.rarity == 'L'
                }"
                (click)="craftAddSelectedImg(i, 1)"
                onclick="craftItemSelect()"
              />
            </div>
          </div>
        </div>
        <div id="crafItemsBody" class="crafItems">
          <div clas="ctc1" *ngFor="let i of userItemsNoCraftList">
            <div class="ctc2" *ngIf="i.membre == 'B'">
              <img
                [src]="imgPath + i.image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.rarity == 'R',
                  itemEpic: i.rarity == 'E',
                  itemLegendary: i.rarity == 'L'
                }"
                (click)="craftAddSelectedImg(i, 2)"
                onclick="craftItemSelect()"
              />
            </div>
          </div>
        </div>
        <div id="crafItemsHandLeft" class="crafItems">
          <div clas="ctc1" *ngFor="let i of userItemsNoCraftList">
            <div class="ctc2" *ngIf="i.membre == 'LH'">
              <img
                [src]="imgPath + i.image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.rarity == 'R',
                  itemEpic: i.rarity == 'E',
                  itemLegendary: i.rarity == 'L'
                }"
                (click)="craftAddSelectedImg(i, 3)"
                onclick="craftItemSelect()"
              />
            </div>
          </div>
        </div>
        <div id="crafItemsFeetRight" class="crafItems">
          <div clas="ctc1" *ngFor="let i of userItemsNoCraftList">
            <div class="ctc2" *ngIf="i.membre == 'RL'">
              <img
                [src]="imgPath + i.image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.rarity == 'R',
                  itemEpic: i.rarity == 'E',
                  itemLegendary: i.rarity == 'L'
                }"
                (click)="craftAddSelectedImg(i, 4)"
                onclick="craftItemSelect()"
              />
            </div>
          </div>
        </div>
        <div id="crafItemsFeetLeft" class="crafItems">
          <div clas="ctc1" *ngFor="let i of userItemsNoCraftList">
            <div class="ctc2" *ngIf="i.membre == 'LL'">
              <img
                [src]="imgPath + i.image + imgSufix"
                alt=""
                title=""
                ondrag="false"
                ondragstart="return false"
                [ngClass]="{
                  itemRare: i.rarity == 'R',
                  itemEpic: i.rarity == 'E',
                  itemLegendary: i.rarity == 'L'
                }"
                (click)="craftAddSelectedImg(i, 5)"
                onclick="craftItemSelect()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
